@import "tailwindcss";


body{
    
    height:100vh;
    /* background: linear-gradient(
  to right,
  rgba(191, 219, 254, 0.5),  
  rgba(233, 213, 255, 0.5),  
  rgba(251, 207, 232, 0.5) 
); */

    background: #f3f4f6;
    color: #1f2937;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}